<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	<link rel="stylesheet" type="text/css" href="./style.css">
	<title>Welcome Niubility!</title>
</head>
<body>
	<header>
		<div class="topRed"></div>
		<div class="homeNav">
			<h1 class="homeTitle">TED 最受欢迎演讲者著作速查</h1>
		</div>
	</header>
		<ol class="listNum">
			<li class="authorList">
				<img class="authorImg" src="https://tedcdnpi-a.akamaihd.net/r/images.ted.com/images/ted/1465_254x191.jpg?">
				<div class="authorInfo">
					<span class="authorName">authorName</span>
					<span class="authorTitle">authorTitle</span>
				</div>
				<div class="bookListUnfold">著作列表</div>
			</li>
			<li class="authorList">
				<img class="authorImg" src="https://tedcdnpi-a.akamaihd.net/r/images.ted.com/images/ted/4f8fc6f1e41fa02b5a2c72e2695abb324c2126b5_254x191.jpg?">
				<div class="authorName">authorName</div>
				<div class="authorTitle">authorTitle</div>
				<div class="bookListUnfold">著作列表</div>
			</li>
			<li class="authorList">
				<img class="authorImg" src="https://tedcdnpi-a.akamaihd.net/r/images.ted.com/images/ted/168354_254x191.jpg?">
				<div class="authorName">authorName</div>
				<div class="authorTitle">authorTitle</div>
				<div class="bookListUnfold">著作列表</div>
			</li>
    	</ol>
    	<div class="loading">加载中...</div>
    </section>
</body>
</html>
